.DS_Store
.idea/
*.iml
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/
ipynb_checkpoints/
*.ipynb
*.log
*.csv
*.h5
*.ckpt
*.pth
*.pt
*.out
*.tmp
*.swp
*~
*.swo
*.bak
*.orig
*.rej
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.tar.bz2